<section id="journey" #jurneySection class="mt-5 body-font">
  <div class="container mx-auto px-5 md:flex-row items-center">
    <div class="lg:flex-grow md:w-1/2 flex flex-col items-start text-left">
      <h1 class="font-manrope-bold sm:text-4xl text-3xl mb-7 text-white">
        My Journey
      </h1>
    </div>
    <div>
      <!-- <p class="mb-8 text-primaryGray-200 font-nunito-regular leading-relaxed">
        I started my professional journey at <b>IOMechs</b>, where I honed my
        skills in delivering tailored IT and business solutions. Currently, I am
        part of <b>VinnCorp</b>, contributing to their mission of connecting
        innovative enterprises with top remote talent while expanding my
        expertise in cutting-edge technologies. 🚀🚀
      </p> -->
      <app-journey-cards [journeyData]="journeyData"></app-journey-cards>
    </div>
  </div>
</section>
