<section class="flex justify-center flex-wrap">
  <div *ngFor="let technology of techArray" class="flip-card mt-3 mr-3 mb-3">
    <div class="flip-card-inner cursor-pointer">
      <div
        class="cursor-pointer flip-card-front justify-center flex items-center bg-[#1F2937] border-b border-gray-800 rounded-lg shadow"
      >
        <img
          src="{{ technology.url }}"
          alt="Avatar"
          class="h-[80px] w-[80px]"
        />
      </div>
      <div
        class="cursor-pointer flip-card-back justify-center flex items-center bg-[#1F2937] border-b border-gray-800 rounded-lg shadow"
      >
        <h1 class="font-nunito-medium text-base">{{ technology.name }}</h1>
      </div>
    </div>
  </div>
</section>
