<div class="container mx-auto px-5 md:flex-row items-center">
  <footer class="shadow dark:bg-gray-900">
    <hr class="my-6 border-gray-800 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="w-full">
      <h1
        class="font-manrope-bold text-lg md:text-left text-center mb-5 text-primaryGray-200"
      >
        Darain Mukarram 🚀
      </h1>
      <div class="sm:flex items-start md:justify-start justify-between">
        <ul
          class="flex flex-wrap items-start justify-center md:items-end mb-6 md:text-base text-xs font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
        >
          <li>
            <a
              href="#aboutMe"
              class="mr-4 font-nunito-medium text-primaryGray-200 hover:underline md:mr-6"
              >About Me</a
            >
          </li>
          <li>
            <a
              href="#experience"
              class="mr-4 font-nunito-medium text-primaryGray-200 hover:underline md:mr-6"
              >Experience</a
            >
          </li>
          <li>
            <a
              href="#journey"
              class="mr-4 font-nunito-medium text-primaryGray-200 hover:underline md:mr-6"
              >Journey</a
            >
          </li>
          <li>
            <a
              href="#projects"
              class="mr-4 font-nunito-medium text-primaryGray-200 hover:underline md:mr-6"
              >Projects</a
            >
          </li>
          <li>
            <a
              href="#findMe"
              class="font-nunito-medium text-primaryGray-200 hover:underline"
              >Find Me</a
            >
          </li>
        </ul>

        <span
          class="flex md:ml-auto justify-center md:justify-start sm:mt-0 md:pr-40 mt-4"
        >
          <a (click)="visitFacebook()" class="text-white cursor-pointer">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
              ></path>
            </svg>
          </a>

          <a (click)="visitLinkedIn()" class="ml-3 text-white cursor-pointer">
            <svg
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="0"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                stroke="none"
                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
              ></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>

      <span
        class="block text-sm text-gray-200 text-center mb-5 mt-10 dark:text-white"
        >© {{ date }} <a class="hover:underline">Darain Mukarram</a>. All Rights
        Reserved. 👨‍💻</span
      >
    </div>
  </footer>
</div>
