<footer class=" shadow dark:bg-gray-900 m-4">
  <hr class="my-6 border-gray-800 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <div class="w-full">
    <h1 class="mr-4 font-manrope-bold text-lg  md:pl-[124px] mb-5 pl-0 md:text-left text-center text-primaryGray-200  md:mr-6">Darain Mukarram 🚀</h1>
    <div class="sm:flex pl-0 md:pl-[124px] items-center md:justify-start justify-center">

      <ul
        class="flex flex-wrap items-center justify-center md:items-end mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        <li>
          <a href="#" class="mr-4 font-nunito-medium  text-primaryGray-200 hover:underline md:mr-6">About Me</a>
        </li>
        <li>
          <a href="#" class="mr-4 font-nunito-medium  text-primaryGray-200 hover:underline md:mr-6">Experience</a>
        </li>
        <li>
          <a href="#" class="mr-4 font-nunito-medium  text-primaryGray-200 hover:underline md:mr-6">Projects</a>
        </li>
        <li>
          <a href="#" class=" font-nunito-medium  text-primaryGray-200 hover:underline">Find Me</a>
        </li>
      </ul>

      <span class="flex md:ml-auto justify-center md:justify-start sm:mt-0 md:pr-40 mt-4">
        <a (click)="visitFacebook()" class="text-white cursor-pointer">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a (click)="visitTwitter()"  class="ml-3 text-white cursor-pointer">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>

        <a (click)="visitLinkedIn()"  class="ml-3 text-white cursor-pointer">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>

    <span class=" block text-sm text-gray-200 text-center mt-10 dark:text-white"
      >© 2023
      <a href="https://flowbite.com/" class="hover:underline">Darain Mukarram</a>. All
      Rights Reserved. 👨‍💻</span
    >
  </div>
</footer>
