<nav class="bg-gray-900 sticky p-3 w-full z-20 top-0 left-0 border-b border-gray-800 ">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto p-4">

  <div class="items-center  justify-center w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:border-0  dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <a href="#" class="block py-2 font-nunito-medium pl-3 pr-4  text-primaryGray-200 rounded hover:bg-gray-100 md:hover:bg-transparent hover:text-gray-400  dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">About Me</a>
      </li>
      <li>
        <a href="#" class="block py-2 font-nunito-medium pl-3 pr-4  text-primaryGray-200 rounded hover:bg-gray-100 md:hover:bg-transparent hover:text-gray-400  dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Experience</a>
      </li>
      <li>
        <a href="#" class="block py-2 font-nunito-medium pl-3 pr-4  text-primaryGray-200 rounded hover:bg-gray-100 md:hover:bg-transparent hover:text-gray-400  dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Projects</a>
      </li>
      <li>
        <a href="#" class="block py-2 font-nunito-medium pl-3 pr-4  text-primaryGray-200 rounded hover:bg-gray-100 md:hover:bg-transparent hover:text-gray-400  dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Find Me</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
