<section class="flex justify-center flex-wrap">
  <div
    *ngFor="let journey of journeyData"
    class="flip-card flex flex-col justify-between mt-3 mr-3 mb-3 bg-[#1F2937] border-b border-gray-800 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <!-- <a href="#">
        <img class="rounded-t-lg" src="https://picsum.photos" alt="" />
    </a> -->
    <div class="flip-card-inner">
      <div
        class="cursor-pointer flip-card-front justify-center flex flex-col items-center bg-[#1F2937] border-b border-gray-800 rounded-lg shadow"
      >
        <img
          src="{{ journey.image }}"
          alt="Avatar"
          class="w-[60%] object-contain"
        />

        <p
          class="mb-3 mt-6 text-base font-nunito-bold md:text-lg text-white dark:text-gray-400"
        >
          {{ journey?.designation }}
        </p>
        <p
          class="mb-3 mt-3 text-sm md:text-base text-white font-nunito-regular dark:text-gray-400"
        >
          {{ journey?.tenure }}
        </p>
      </div>
      <div class="flip-card-back cursor-pointer p-5">
        <a href="#">
          <h5
            class="mb-2 text-base md:text-2xl font-manrope-bold tracking-tight text-white dark:text-white"
          >
            {{ journey.name }}
          </h5>
        </a>
        <p
          class="mb-3 text-sm md:text-base text-white font-nunito-regular dark:text-gray-400"
        >
          {{ journey?.description }}
        </p>

        <a
          href="{{ journey.url }}"
          target="_blank"
          class="inline-flex justify-center items-center m-2 text-sm text-center text-white"
        >
          <button
            class="inline-flex hover:text-white hover:bg-bodyColor-primary border-b border-gray-800 shadow py-2 px-6 focus:outline-none bg-white text-bodyColor-primary rounded text-lg"
          >
            Visit Site
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
