<section class="text-gray-600 body-font">
  <div class="container mx-auto px-5 md:flex-row items-center">
    <div class="lg:flex-grow md:w-1/2 flex flex-col items-start text-left">
      <h1 class="font-manrope-bold sm:text-4xl text-3xl mb-7 text-white">
        Experience 📣
      </h1>
    </div>
    <div class="">
      <p class="mb-8 text-primaryGray-200 font-nunito-regular leading-relaxed">
        As a <b>Software developer</b> with 2+ years of experience in front-end
        development, I am passionate about building innovative and user-friendly
        applications that solve real-world problems. With a strong background in
        Javascript using Angular, React JS, React Native, and Next and more, I
        have developed and worked on multiple applications that have been used
        by thousands of users worldwide. 🚀🚀
      </p>

      <b class="text-primaryGray-200 font-nunito-bold text-lg leading-relaxed">My overall Front-end development skills are</b>

      <div class="m-6">
        <app-technology-cards [techArray]="frontEnd"></app-technology-cards>
      </div>

      <b class="text-primaryGray-200 font-nunito-bold text-lg leading-relaxed">Automation skills </b>

      <div class="m-6">
        <app-technology-cards [techArray]="testingTech"></app-technology-cards>
      </div>

      <b class="text-primaryGray-200 font-nunito-bold text-lg leading-relaxed">Other skills </b>
      <div class="m-6">
        <app-technology-cards [techArray]="other"></app-technology-cards>
      </div>
    </div>
  </div>
</section>
